@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.card {
  width: 100%;
  padding: $card-gap;
  background-color: $white;
  border-radius: 10px;

  @media (min-width: $tablet) {
    width: calc(50% - 8px);
  }

  @media (min-width: $desktop) {
    width: calc(33% - 16.4px);
  }
}

.image {
  display: block;
  margin: auto;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  margin: 20px 0;
}
