@import "../../assets/styles/variables.scss";

.header {
  padding: 13px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  @media (min-width: $tablet) {
    padding: 0 32px;
  }

  @media (min-width: $desktop) {
    padding: 0 60px;
  }

  @media (min-width: $centered) {
    padding: 0;
  }
}

.navigation {
  display: flex;
  gap: 10px;
}

.link {
  display: block;
  width: 92px;
  padding: 8px;
  background-color: $yellow;
  border-radius: 80px;
  color: black;
  text-align: center;
  text-decoration: none;
}
