@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.header {
  padding: 13px 0;
  background-color: $white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  @include container-paddings;
}

.navigation {
  display: flex;
  gap: 10px;
}

.link {
  @include button;
}
