@import-normalize;

@font-face {
  font-family: "Nunito";
  font-style: normal;
  src: url(/public/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Nunito";
  font-style: italic;
  src: url(/public/fonts/Nunito-Italic-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
